<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>业主</title>
</head>
<body>
  <div id="root"></div>
  <script src="/static/js/<%= htmlWebpackPlugin.options.vendorJsName %>"></script>
</body>
</html>
